



.text-box-one {

	border: 1px solid #e5e5e5;

	padding: .8em;

	-webkit-border-radius: 5px;

	-moz-border-radius: 5px;

	-moz-box-shadow: 0px 0px 2px #999999;

}

.text-box-grey {
	background-color: #FFFFE6;
	border-color: #FC3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0px 0px 2px #999999;
}


a.button {
	padding: 5px 16px;
	background:  url(../components/com_reports2/images/buttons/readonbutton.png) !important;
}
a.einsatzlink {
	color:#000000 !important;
}
span.einsatzlink {
	color:#000000 !important;
}


.list_article{
    display: block;
	margin-bottom:20px;
}

.list_ad{
    display: block;
	text-align:center;
	margin-top:5px;
	margin-bottom:15px;
	padding-top:5px;
	padding-bottom:15px;
}


.clearer{
    clear: both;
}

.contentlink a{
	float: right;
	margin-right:10px;
	padding-right:10px;
}


.list_article p > a{
    text-decoration: none;
    color: #9c0000;
    font-style: italic;
}

.list_article p > a:hover{
    text-decoration: underline;
}

.list_thumbnail{
    margin: 0 5px 5px 0;
    float: left;
}

.berichtdatum{
    font-size: 8px;
    text-align: right;
}










table.admintable
{
	
	 
}
table.inputForm
{
	border-collapse: collapse;
}
table.inputForm td table td
{
	border: none;
}
table.inputForm
{
	border-collapse: collapse;
	margin-bottom: 25px;
}
table.inputForm th, table.inputForm td
{
	
}
table.inputForm td select
{
	
}
table.imageGallery td
{
	text-align: center;
}
div.showVehicleName
{
	
}
div.showVehicleName a
{
	
}
div.title
{
	border: groove 3px;
	background-color: #FF9;	
}

#stil1
{
	color:#fff;
	font-style:italic;
	font-weight:bold;
	font-size:larger;
}

#link  {
	color:#F00 !important;
	font-size:14px !important;
	font-weight:bolder !important;
}
#link2  {
	font-size:14px !important;
	font-weight:bolder !important;
}

.thumbnail { 
  border-width: 1px; 
  border-style: solid; 
  border-color: black; 
}


select {margin: 2px !important;
padding:2px !important;
font-size:smaller !important;

}



table.homeview {
	margin: auto; 
	margin-left:auto; 
	margin-right:auto;
	margin-bottom: 25px;
	text-align:center;
	border:0px solid;
	border-right:1px solid;
	border-top:1px solid;
	border-color:#999;
	color:#14446C;
}
table.homelogo {
	margin: auto;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 10px;
	text-align:center;
	border:0px solid;
	border-color:#000;
	background-image: url(../../images/hometab.png);
}
table.homemodule {
	margin: auto;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	border:0px solid;
}
table.homemap {
	margin: auto; 
	margin-left:auto; 
	margin-right:auto;
	text-align:center;
	border:0px solid;
	border-color:#000;
}
td.homeview 
{
	border:5px solid;
	border-color:#0F6;
	text-align:center;
}
td.homelogo 
{
	text-align:center;
}
td.homefilter 
{
	text-align:center;
	color: #14446C;
}
td.homemarker 
{
	text-align:center;
	border:1px solid;
	border-right:0px solid;
	border-top:0px solid;
	border-color:#999;
	padding:2px;
	margin:2px;
}
td.homealarm
{
	border:1px solid;
	border-right:0px solid;
	border-top:0px solid;
	border-color:#999;
	text-align:center;
	padding:2px;
	margin:2px;
}
td.homelink
{
	border:1px solid;
	border-right:0px solid;
	border-top:0px solid;
	border-color:#999;
	text-align:left;
	padding:5px 15px;
	margin:2px;
}
td.homeaddress
{
	border:1px solid;
	border-right:0px solid;
	border-top:0px solid;
	border-color:#999;
	text-align:left;
	padding:5px 15px;
	margin:2px;
}
td.homefoto
{
	border:1px solid;
	border-right:0px solid;
	border-top:0px solid;
	border-color:#999;
	text-align:center;
	padding:2px;
	margin:2px;
}
td.homecounter
{
	border:1px solid;
	border-right:0px solid;
	border-top:0px solid;
	border-color:#999;
	text-align:center;
	padding:2px;
	margin:2px;
}
td.homemap
{
	border:0px solid;
	border-color:#000;
	text-align:center;
}
th.homeview 
{
	border:1px solid;
	border-right:0px solid;
	border-top:0px solid;
	border-color:#999;
	text-align:left;
	padding:5px 15px;
	margin:2px;
}
p.homefooter
{
	text-align:center;
}









table.showmap {
	margin: 0; 
	margin-left:0; 
	margin-right:0;
	text-align:center;
	border:0px solid;
	border-color:#000;
	width: 98%;
}
table.shownavi {
	margin: 0; 
	margin-left:0; 
	margin-right:0;
	text-align:center;
	border:0px solid;
	border-color:#000;
}
table.showtable {
	margin: 0; 
	margin-left:0; 
	margin-right:0;
	text-align:center;
	border:0px solid;
	border-right:1px solid;
	border-top:1px solid;
	border-color:#999;
	color:#14446C;
}
td.shownavi1 
{
	text-align:left;
}
td.shownavi2 
{
	text-align:right;
}
td.shownavi3 
{
	text-align:left;
}
td.shownavi4 
{
	text-align:right;
}
td.showlogo 
{
	display:none;
	text-align:center;
	padding: 0 0 0 0 !important;
	margin: 0 0 0 0 !important;
	border:1px solid;
	border-right:0px solid;
	border-top:0px solid;
	border-color:#999;
}
td.showtab 
{
	text-align:left !important;
	padding-left:10px !important;
	margin-left:10px !important;
	padding-right:10px !important;
	margin-right:10px !important;
	padding-top:5px;
	margin-top:5px !important;
	padding-bottom:5px;
	margin-bottom:5px !important;
	border:1px solid;
	border-right:0px solid;
	border-top:0px solid;
	border-color:#999;
}
td.showmaptd
{
	display:none;
	text-align:center;
	padding-top:5px;
	margin-top:5px;
	padding-bottom:5px;
	margin-bottom:5px;
	border:1px solid;
	border-right:0px solid;
	border-top:0px solid;
	border-color:#999;
}
td.showart 
{
	text-align:left;
	padding-left:10px;
	margin-left:10px;
	padding-top:5px;
	margin-top:5px;
	padding-bottom:5px;
	margin-bottom:5px;
	border:1px solid;
	border-right:0px solid;
	border-top:0px solid;
	border-color:#999;
}
td.showpresse 
{
	text-align:center;
	border:1px solid;
	border-right:0px solid;
	border-top:0px solid;
	border-color:#999;
}
td.showimage 
{
	text-align:center;
	border:0px solid;
	border-color:#999;
}
img.showvehicle
{
    padding-right:5px !important;
	margin-right:5px !important;
    padding-bottom:5px !important;
	margin-bottom:5px !important;
	vertical-align:middle;
	}
td.showmap1 
{
	text-align:center;
	border-top:1px solid;
	border-left:1px solid;
	border-right:1px solid;
	border-color:#999;
}
td.showmap2 
{
	text-align:center;
	border:1px solid;
	border-color:#999;
}
img.show {
	padding:0 0 0 0 !important;
    margin:0 0 0 0 !important;
	}

a.link
{
  text-decoration: none !important;
}
a.link:hover
{
  text-decoration: underline !important;
}








table.maptable {
	margin: auto; 
	margin-left:auto; 
	margin-right:auto;
	text-align:center;
	border:0px solid;
	border-color:#000;
}
#maptable td {
	white-space:nowrap;
}
#map {
	border:0px solid black;
}
#legend {
	padding-left:6px;
	vertical-align:top;
	text-align:left;
}
#legend table td {
	vertical-align: middle;
	padding-bottom:4px;
}
#legend legend { padding-bottom:6px; }
#legend img {
	width:16px;
	height:16px;
}
#timefilter {
	padding-left:6px;
	text-align:center;
	font-size:10pt;
}
#timefilter select {
	font-size:8pt;
}
#toolbar {
	padding-top:4px;
}
#EventMarkerList {
	margin-left:6px;
	border:1px solid black;
	background-color:#EEEEEE;
	color:black;
	width:95%;
	height:150px;
}
#EventMarkerList optgroup {
	font-size:10pt;
}
#EventMarkerList option {
	font-size:8pt;
	padding-left:10px;
}
#coordinateformatselection {
	visibility:hidden;
}
#HeaderEventTechnical, #HeaderEventFire, #HeaderEventExercise, #HeaderEventYouth, #HeaderEventAppointment, #HeaderEventNews {
	padding:3px;
	margin-bottom:3px;
	font-weight:bold;
	color:#FFFFFF;
}
#HeaderEventTechnical { background-color:#0000FF; }
#HeaderEventFire { background-color:#FF0000; }
#HeaderEventExercise { background-color:#00BB00; }
#HeaderEventYouth { background-color:#00BBBB; }
#HeaderEventAppointment { background-color:#BB22BB; }
#HeaderEventNews { background-color:#FFFF00; }
#InfoWindowLink {
	text-align:center;
	font-size:8pt;
}
#InfoWindowDescription {
	background-color:#FFFFFF;
	text-align:justify;
	font-family:Arial;
	font-size:8pt;
	border-width:0px;
}
button img {
	width:32px;
	height:32px;
}
.useless {
	font-size:8pt;
	color:#DD0000;
}


.infowindow {
	font-size:10pt;
	color:#DD0000;
	background-color: #ffffff;
	text-align:center;
}
.infowindowlabel {
	font-size:12pt;
	color:#ffffff;
	background-color: #ff0000;
	text-align:center;
	font-weight: bold;
}


a.gmap
{
  text-decoration: none !important;
}
a.gmap:hover
{
	text-decoration: underline !important;
	background-color: #EFEFEF !important;
}
a.gmap:visited
{
  color: #666 !important;
}




/* Multiselect
----------------------------------*/

.ui-multiselect { border: solid 1px; font-size: 0.8em; }
.ui-multiselect ul { -moz-user-select: none; }
.ui-multiselect li { margin: 0; padding: 0; cursor: default; line-height: 20px; height: 20px; font-size: 11px; list-style: none; }
.ui-multiselect li a { color: #999; text-decoration: none; padding: 0; display: block; float: left; cursor: pointer;}
.ui-multiselect li.ui-draggable-dragging { padding-left: 10px; }

.ui-multiselect div.selected { position: relative; padding: 0; margin: 0; border: 0; float:left; }
.ui-multiselect ul.selected { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; position: relative; width: 100%; }
.ui-multiselect ul.selected li { }

.ui-multiselect div.available { position: relative; padding: 0; margin: 0; border: 0; float:left; border-left: 1px solid; }
.ui-multiselect ul.available { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; width: 100%; }
.ui-multiselect ul.available li { padding-left: 10px; }
 
.ui-multiselect .ui-state-default { border: none; margin-bottom: 1px; position: relative; padding-left: 20px;}
.ui-multiselect .ui-state-hover { border: none; }
.ui-multiselect .ui-widget-header {border: none; font-size: 11px; margin-bottom: 1px;}
 
.ui-multiselect .add-all { float: right; padding: 7px;}
.ui-multiselect .remove-all { float: right; padding: 7px;}
.ui-multiselect .search { float: left; padding: 4px;}
.ui-multiselect .count { float: left; padding: 7px;}

.ui-multiselect li span.ui-icon-arrowthick-2-n-s { position: absolute; left: 2px; }
.ui-multiselect li a.action { position: absolute; right: 2px; top: 2px; }
 
.ui-multiselect input.search { height: 14px; padding: 1px; opacity: 0.5; margin: 4px; width: 100px; }
	
/* multiselect styles */
.multiselect {
		width: 360px;
		height: 250px;
	}
	
#switcher {
		margin-top: 20px;
	}
	
form {margin: 0; padding: 0;}

